<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-toolbar-row>
    <span><a [routerLink]="['/']"><button mat-button>My Application</button></a></span>
    <div>
      <a routerLink="/users">
        <button mat-button color="accent">Users</button>
      </a>
      <a routerLink="/webix">
        <button mat-button color="accent">Webix Tree</button>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>