<div class="container">
  <div class="row">
    <div class="col mt-4">
      <h1>Webix Tree(DnD)</h1>
      <div style="height: 250px;">
        <div class="d-flex px-2" style="background-color: #f6f6f6;">
          <button mat-button (click)="addFile()">Add</button>
          <button mat-button (click)="removeFile()">Remove</button>
        </div>
        <div *ngIf="fileAddToggle" class="form-group">
          <input type="text" class="form-control" placeholder="Enter file name" #fileInput />
          <button mat-raised-button (click)="addFile()">Create</button>
        </div>
        <div type="wide" style="height: 100%;" #webixContainer>
            <!-- all divs inside this and including this are parsed as Webix views-->
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>