<div class="container">
  <div class="row">
    <div class="col mt-4">
      <h1>Users</h1>
      <ngx-datatable class="material"
        [columnMode]="'force'" 
        [rows]="users"
        [headerHeight]="50"
        [rowHeight]="50"
        [footerHeight]="50"
        [scrollbarH]="true"
        [externalPaging]="true"
        [count]="page.total"
        [offset]="page.skip"
        [limit]="page.limit"
        (page)='setPage($event)'
      >

      <!-- Col Detail Template -->
      <ngx-datatable-column name="id" [maxWidth]="50">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name | uppercase}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Name" >
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name | uppercase}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.firstName}} {{ row.lastName }}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Email">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name | uppercase}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.email }}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Address" [flexGrow]="1">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name | uppercase}}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.address}} {{ row.address }}
        </ng-template>
      </ngx-datatable-column>
      
    </ngx-datatable>
    </div>
  </div>
</div>
